.about .container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
}

.about-text {
  background-color: #fff;
  padding: 40px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.06);
}

.about h2 {
  margin-bottom: 20px;
  color: #333;
  font-weight: 700;
}

.about p {
  margin-bottom: 15px;
  font-size: 1.3em;
  line-height: 1.5;
  color: #222;
  text-align: justify;
  word-spacing: -1px; /* Default word spacing */
  word-wrap: break-word;
  white-space: normal;
}
.about-image {
  max-width: 80%;
  height: auto; /* Adjusts height dynamically */
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.06);
  margin-bottom: 30px;
}

.night-image {
  background-image: url('../night_k.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .about .container {
    padding: 20px; /* Adjust padding for smaller devices */
  }
  .about p {
    font-size: 1em; /* Smaller font for mobile */
    line-height: 1.5;
    word-spacing: -2.5px; /* Tighter word spacing for mobile */
  }
  .about-image {
    max-width: 80%;
    height: auto; /* Adjusts height dynamically */
  }
}

@media screen and (prefers-color-scheme: dark) {
  .about h2 {
    color: #d4d4d4;
    font-weight: 700;
  }

  .about-text {
    background: #232323;
  }

  .about p {
    color: #d4d4d4;
  }
}
