
* {
  font-family: "Avenir LT Pro", sans-serif;
}

.contact .container {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.06);
}

.contact h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 1.5em;
}

.contact form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact label {
  text-align: left;
  font-weight: bold;
  font-size: 1.3em;
}

.contact input,
.contact textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;

  font-weight: 400;
}

.contact button {
  background: #000a64;
  color: white;
  padding: 10px 15px;
  font-size: 1.2em;
  border: 4px solid #000a64;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
  font-weight: 600;
}

.contact button:hover {
  background: #ff9650;
}

@media screen and (prefers-color-scheme: dark) {
  .contact button {
    background: #cf6679;
  }

  .contact .container {
    background: #232323;
  }

  .contact h2 {
    color: #fff;
  }

  .contact input,
  .contact textarea {
    border: 1px solid #03dac6;
    background-color: #232323;
  }

  .contact button:hover {
    background: #bb86fc;
  }
}
