.footer {
  background: #292519;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  margin-top: 20px; /* Adjust as needed */
}

.footer .container {
  width: 90%;
  margin: 0 auto;
}

.footer p {
  font-size: 1rem;
}


@media screen and (prefers-color-scheme: dark) {
  .footer {
    background: #333;
    color: #fff;
  }
}

