/* Header Styles */
.footer {
  background: #fefefe;
  padding: 20px 0;
  text-align: center;
  margin-top: 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  border-top: 1px solid #fefefe;
  border: 1px solid #ccc;
}

/* Footer Container */
.footer .container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

/* Footer Date - Centering Fix */
.footer-date {
  flex: 1;
  color: #222;
  text-align: center;
}

/* Footer Paragraph */
.footer p {
  font-size: 1rem;
  text-align: center;
}

/* Footer Nav Styles */
.footer nav ul {
  list-style: none;
  display: flex;
  margin-left: -50px;
  padding: 0;
}

.footer nav li {
  margin-left: 10px;
}

.footer nav a {
  color: #fff;
  text-decoration: none;
  font-size: 28px;
  font-weight: 600;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .footer .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer nav ul {
    flex-direction: column;
    margin-left: 0;
    text-align: center;
  }

  .footer nav li {
    margin: 5px 0;
  }
}

@media screen and (prefers-color-scheme: dark) {
  .footer {
    background: rgba(51, 51, 51, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: #fff;
  }

  .footer-date {
    color: #eee;
  }
}
