.header {
  background: #fefefe;
  color: #fff;
  padding: 20px 0;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.header .container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header nav ul {
  list-style: none;
  display: flex;
  margin-left: -50px;
  padding: 0;
}

.header nav li {
  margin-left: 10px;
}

.header nav a {
  color: #222;
  text-decoration: none;
  font-size: 28px;
  font-weight: 600;
  background: #bbedc2;
  padding: 6px 12px;
  border-radius: 8px;
  backdrop-filter: blur(4px);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #2a2a2a;
}
@media screen and (max-width: 768px) {
  .header .container {
    flex-direction: column;
    align-items: center;
  }

  .header nav ul {
    flex-direction: column;
    margin-left: 0;
    text-align: center;
  }

  .header nav li {
    margin: 0; /* Reset margin here */
  }

  .header nav a {
    display: inline-block;
    margin: 10px 0; /* Adds vertical space between buttons */
  }
}

@media screen and (prefers-color-scheme: dark) {
  .header {
    background: rgba(51, 51, 51, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: #fff;
  }

  h1 {
    color: #d4d4d4;
  }

  .header nav a {
    color: #81caff;
    background: rgba(100, 100, 100, 0.3);
  }
}
