.header {
  background: #292519;
  color: #fff;
  padding: 20px 0;
}

.header .container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header nav ul {
  list-style: none;
  display: flex;
  margin-left: -50px;
  padding: 0;
}

.header nav li {
  margin-left: 10px;
}

.header nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  font-size: 24px;
}

h1{
  color: #ff9650;
}

@media screen and (max-width: 768px) {
  .header .container {
    flex-direction: column;
    align-items: center;
  }

  .header nav ul {
    flex-direction: column;
    margin-left: 0;
    text-align: center;
  }

  .header nav li {
    margin: 5px 0;
  }
}
