.portfolio .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

h2 {
  text-align: center;
}

.project-card {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.06);
  transition: transform 0.2s;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card h3 {
  font-size: 1.5em;
}

p {
  font-size: 1.3em;
}

.project-card a {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000e8b;
  text-decoration: none;
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  .portfolio .container {
    padding: 20px 5px;
  }

  .projects-grid {
    grid-template-columns: 1fr;
    gap: 15px;
    margin-top: 10px;
  }

  p {
    font-size: 1em;
  }
  

  .project-card {
    padding: 20px;
    margin: ;
  }

  .project-card h3 {
    font-size: 1.3em;
  }
}

@media screen and (prefers-color-scheme: dark) {
  .project-card {
    color: #fff;
    background: #232323;
  }

  p {
    color: #e0e0e0;
  }

  .project-card a {
    color: #cf6679;
  }
}
